{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">Django Blog</a></h1>
      </div>
      <div class="nav-right">
        <a href="{% url 'post_new' %}"> + New Blog Post </a>
      </div>
    </header>
    <div>{% block content %}{% endblock content %}</div>
  </body>
</html>
